<template>
  
    <svg width="20" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.92 5.14V3.27H6.85V5.14H4.92ZM1.46 5.14V3.27H3.38V5.14H1.46ZM4.92 1.84V0.13H3.38V1.84H0V7.09H1.46V6.57H3.38V9.63H4.92V6.57H6.85V7.04H8.38V1.84H4.92Z" fill="white"/>
        <path d="M15.66 3.19C15.32 4.15 14.85 4.96 14.26 5.64C13.59 4.93 13.06 4.11 12.67 3.19H15.66ZM18.81 3.19V1.77H14.61L15.42 1.52C15.32 1.1 15.04 0.47 14.79 0L13.23 0.46C13.42 0.86 13.6 1.37 13.7 1.77H9.58V3.19H11.16C11.68 4.54 12.32 5.69 13.15 6.65C12.14 7.39 10.89 7.91 9.36 8.25C9.64 8.59 10.08 9.27 10.24 9.62C11.82 9.18 13.14 8.55 14.23 7.69C15.26 8.52 16.51 9.14 18.05 9.54C18.27 9.14 18.7 8.5 19.03 8.18C17.58 7.86 16.37 7.33 15.37 6.61C16.19 5.68 16.83 4.55 17.3 3.19H18.81Z" fill="white"/>
    </svg>

</template>