<template>

    <div class="p-3 flex justify-center text-sm text-white text-center bg-navy">

        <p class="leading-6">
            Recap.Chat is a tool developed during Covid-19 to help you run UX testing remotely in China. Arrange a free
            consultation
            <a class="text-primary" href="mailto:onboard@recap.chat">onboard@recap.chat</a>
        </p>

    </div>

</template>
