<template>

    <Container vertical center class="mt-4 md:mt-2">

        <h1 class="w-full text-3xl font-bold text-center md:w-9/12 md:text-5xl">
            <slot/>
        </h1>

        <p v-if="$slots.subtitle" class="w-full pt-6 text-center md:text-xl md:w-8/12">
            <slot name="subtitle"/>
        </p>

    </Container>

</template>

<script lang="ts">

    import Container from '../Container.vue'

    export default {
        name: 'PageTitle',
        components: {
            Container
        }
    }

</script>
