<template>
    
    <p class="text-base leading-base text-dark">

        <slot/>
        
    </p>

</template>

<script lang="ts">

    import { defineComponent } from 'vue'

    export default defineComponent({
        name: 'Paragraph'
    })

</script>