<template>

    <Container class="text-white bg-navy" fluid>

        <Container class="py-10 md:px-6 md:pt-32 md:pb-20">

            <div class="flex flex-col justify-between md:flex-row">

                <div class="flex flex-col items-start w-full text-left md:w-4/12">

                    <RecapLogo/>

                    <Paragraph class="site-footer__description mt-10 leading-base">
                        Our remote user testing platform in China 
                        allows you to target & recruit Chinese customers 
                        to test your mobile websites and prototypes. 
                        We capture video and audio of the tests and use AI 
                        to transcribe and translate the results for your analysis.
                    </Paragraph>

                </div>

                <div class="flex flex-col justify-end w-full mt-8 md:flex-row md:w-6/12 md:mt-0 md:pr-20">
                    
                    <div>

                        <div class="mt-1 text-sm">
                            <Anchor :to="Route.Login" light>Login</Anchor>
                        </div>

                        <div class="mt-10">

                            <ul class="space-y-2">

                                <li>
                                    <Anchor :to="Route.Login">Home</Anchor>
                                </li>

                                <li>
                                    <Anchor :to="Route.Login">Request a demo</Anchor>
                                </li>

                                <li>
                                    <Anchor :to="Route.Login">Talk with us</Anchor>
                                </li>

                                <li>
                                    <Anchor :to="Route.Login">Legal</Anchor>
                                </li>

                            </ul>

                        </div>

                    </div>

                </div>

            </div>

            <div class="site-footer__copyright mt-20 text-sm text-center">
                © Recap.Chat 2020 - Digital Creative Asia Ltd
            </div>

        </Container>

    </Container>

</template>

<script lang="ts">
    import { defineComponent } from 'vue'
    import { useRouter } from 'vue-router'
    import { Route } from '../../enums/Route'
    import { Size } from '../../enums/Size'
    import Anchor from '../Anchor.vue'
    import Container from '../Container.vue'
    import RecapLogo from '../RecapLogo.vue'
    import Paragraph from './Paragraph.vue'

    export default defineComponent({
        name: 'SiteFooter',
        components: {
            Anchor, RecapLogo, Container, Paragraph
        },
        setup() {
            const router = useRouter()

            return {
                router,
                Route,
                Size
            }

        }
    })

</script>

<style lang="scss">

    @include component(site-footer) {

        @include part(description) {

            color: #7B96B2;

        }

        @include part(copyright) {

            color: #2D5785;

        }

    }

</style>