<template>

    <div class="absolute top-0 left-0 right-0" :class="[ menuOpen ? 'bg-white' : 'bg-transparent' ]">

        <Container fluid>

            <div class="flex items-center justify-between py-6">

                <RecapLogo @click="router.push({ name: Route.Home })">

                    <template #subtitle>
                        Remote user testing in China
                    </template>

                </RecapLogo>

                <div class="items-center justify-between hidden md:flex">

                    <Anchor small :to="Route.Login">Login</Anchor>

                    <Anchor small :to="Route.GetStarted" class="ml-5">Demo</Anchor>

                    <Button :size="Size.Medium" class="ml-5 shadow-pink" @click="router.push(Route.GetStarted)">
                        Talk with us
                    </Button>

                    <Button black class="shadow-pink">

                        <CNLocale class="site-header__locale"/>

                    </Button>

                </div>

                <div class="flex cursor-pointer md:hidden" @click="toggleMenu">

                    <Hamburger :open="!menuOpen"/>

                </div>

            </div>

        </Container>

        <div v-show="menuOpen" class="fixed absolute z-10 flex flex-col items-center w-full h-screen bg-white">

            <Anchor :to="Route.Login" class="mt-6 text-lg">
                Login
            </Anchor>

            <Anchor :to="Route.Login" class="mt-12 text-lg">
                Demo
            </Anchor>

            <Button class="mt-12" @click="router.push(Route.GetStarted)">
                Talk with us
            </Button>

        </div>

    </div>

</template>

<script lang="ts">

    import { defineComponent, ref } from 'vue'
    import { useRouter } from 'vue-router'
    import Anchor from '../../components/Anchor.vue'
    import Button from '../../components/Button.vue'
    import Container from '../../components/Container.vue'
    import Hamburger from '../../components/icons/Hamburger.vue'
    import RecapLogo from '../../components/RecapLogo.vue'
    import CNLocale from './CNLocale.vue'
    import { Route } from '../../enums/Route'
    import { Size } from '../../enums/Size'

    export default defineComponent({
        name: 'SiteHeader',
        components: {
            Anchor, RecapLogo, Button, Container, Hamburger, CNLocale
        },
        setup() {
            const router = useRouter()
            const menuOpen = ref(false)

            return {
                Route,
                Size,
                router,
                menuOpen,
                toggleMenu() {
                    menuOpen.value = !menuOpen.value
                }
            }

        }
    })

</script>

<style lang="scss">

    @include component(site-header) {

        @include part(locale) {

            height: 20px;
            width: 20px;

        }

    }

</style>