<template>

    <RouterLink
        class="anchor flex items-center no-underline"
        :class="[
            { 'opacity-50': disabled }, 
            light ? 'text-primary-light' : 'text-primary',
            small ? 'text-sm' : 'text-base'
        ]"
        :to="{ name: to }">

        <span v-if="$slots['left-icon']" class="anchor__icon --left">
            <slot name="left-icon"/>
        </span>

        <slot/>

    </RouterLink>

</template>

<script lang="ts">

    import { defineComponent, PropType } from 'vue'
    import { RouteLocationRaw } from 'vue-router'

    export default defineComponent({
        name: 'Anchor',
        props: {
            to: { type: [ Object, String ] as PropType<RouteLocationRaw>, required: true },
            light: { type: Boolean as PropType<boolean>, default: false },
            small: { type: Boolean as PropType<boolean>, default: false },
            disabled: { type: Boolean as PropType<boolean>, default: false }
        }
    })

</script>

<style lang="scss">

    @include component(anchor) {

        @include part(icon) {

            margin-right: em(5px);

            svg {

                @apply w-auto;
                height: em(10px);

            }

        }

    }

</style>
