<template>

    <div class="flex items-center justify-center text-primary font-bold bg-gray-200 rounded-full w-12 h-12 bg-cover"
         :style="{ backgroundImage: `url(${url})` }">

        <slot v-if="!url"/>

    </div>

</template>

<script lang="ts">

    import { defineComponent } from 'vue'

    export default defineComponent({
        name: 'Avatar',
        props: {
            url: { type: String, default: '' }
        }
    })

</script>
