<template>

    <button class="button flex items-center justify-center align-middle rounded-full border"
            :class="classes"
            @click.prevent="() => {}">

        <span class="mr-2" v-if="$slots['left-icon']">
            <slot name="left-icon"/>
        </span>

        <div class="button__text" v-if="!loading">

            <slot/>

        </div>

        <div v-else>
            <Spinner/>
        </div>

        <span class="ml-2" v-if="$slots['right-icon']">
            <slot name="right-icon"/>
        </span>

    </button>

</template>

<script lang="ts">

    import { computed, defineComponent, PropType } from 'vue'
    import { Color } from '../enums/Color'
    import { Size } from '../enums/Size'
    import Spinner from '../components/Spinner.vue'

    export default defineComponent({
        name: 'Button',
        components: { Spinner },
        props: {
            size: { type: String as PropType<Size>, default: Size.Normal },
            color: { type: String as PropType<Color>, default: Color.Primary },
            disabled: { type: Boolean as PropType<boolean>, default: false },
            loading: { type: Boolean as PropType<boolean>, default: false },
            hollow: { type: Boolean as PropType<boolean>, default: false },
            white: { type: Boolean as PropType<boolean>, default: false },
            black: { type: Boolean as PropType<boolean>, default: false },
        },
        setup(props) {

            const classes = computed(() => {

                const options: string[] = []

                if (props.hollow) {

                    options.push('bg-transparent')

                    if (props.color === Color.Primary) {
                        options.push('text-primary border-primary')
                    } else if (props.color === Color.White) {
                        options.push('text-white border-white')
                    } else if (props.color === Color.Black) {
                        options.push('border-black')
                    }

                } else if (props.white) {
                    options.push('bg-white text-primary border-none')
                } else if (props.black) {
                    options.push('bg-navy border-none')
                } else {

                    options.push('border-transparent')

                    if (props.color === Color.Primary) {
                        options.push('text-white bg-primary')
                    } else if (props.color === Color.White) {
                        options.push('bg-white text-primary')
                    } else if (props.color === Color.Black) {
                        options.push('bg-black text-white')
                    }

                }

                if (props.disabled) {
                    options.push('bg-opacity-25', 'pointer-events-none')
                }

                if (props.size === Size.Normal) {
                    if (props.loading) {
                        options.push('py-3 px-16 text-sm')
                    } else {
                        options.push('py-4 px-8 text-sm')
                    }
                } else if (props.size === Size.Small) {
                    options.push('py-2 px-4 text-sm')
                } else if (props.size === Size.Medium) {
                    options.push('py-3 px-5 text-xs')
                }

                return options

            })

            return {
                classes
            }

        }
    })

</script>

<style lang="scss">

    @include component(button) {

        svg {
            @apply w-auto;
            @apply h-3;
        }

        @include part(text) {

            font-family: $font-family-gt;
            font-weight: 500;

        }

        & + #{component(button)} {

            @apply ml-5;

        }

    }

</style>
