<template>

    <div class="flex p-10 flex-col bg-white rounded-lg shadow-xl"
         :class="{ 'flex-1': fluid, 'items-center': center }">

        <slot/>

    </div>

</template>

<script lang="ts">

    import { defineComponent } from 'vue'

    export default defineComponent({
        name: 'Card',
        props: {
            fluid: { type: Boolean, default: false },
            center: { type: Boolean, default: false },
        }
    })

</script>
