<template>

    <div class="flex align-middle m-auto"
         :class="{
            'items-center justify-center': center,
            'flex-col': vertical,
            'max-w-screen-xl': fluid === false,
            'px-6': fluid,
         }">

        <slot/>

    </div>

</template>

<script lang="ts">

    import { defineComponent } from 'vue'

    export default defineComponent({
        name: 'Container',
        props: {
            center: { type: Boolean, default: false },
            vertical: { type: Boolean, default: true },
            fluid: { type: Boolean, default: false }
        }
    })

</script>
