<template>

    <div class="header">

        <Anchor class="mb-4" :to="navigation.to" v-if="navigation && navigation.title">

            <template #left-icon>
                <ArrowIcon/>
            </template>

            {{ navigation.title }}

        </Anchor>

        <h1 v-if="title || $slots.default" class="text-2xl md:text-3xl leading-relaxed">
            <slot>
                {{ title }}
            </slot>
        </h1>

        <p v-if="subtitle || $slots.subtitle" class="text-sm mt-4 text-gray-600">
            <slot name="subtitle">
                {{ subtitle }}
            </slot>
        </p>

    </div>

</template>

<script lang="ts">

    import { defineComponent, PropType } from 'vue'
    import ArrowIcon from './icons/ArrowIcon.vue'
    import Anchor from './Anchor.vue'
    import { RouteLocationRaw } from 'vue-router'

    interface NavigationInterface {
        to: RouteLocationRaw,
        title: string
    }

    export default defineComponent({
        name: 'Header',
        components: { ArrowIcon, Anchor },
        props: {
            title: { type: String, required: false },
            subtitle: { type: String, required: false },
            navigation: { type: Object as PropType<NavigationInterface>, required: false }
        }
    })

</script>
