<template>

    <div class="flex flex-col">

        <RouterLink :to="to" class="text-primary text-xl font-bold">
            {{ title }}
        </RouterLink>

        <span v-if="subtitle" class="font-normal mt-2">
            {{ subtitle }}
        </span> 

    </div>

</template>

<script lang="ts">

    import { defineComponent, PropType } from 'vue'
    import { RouteLocationRaw } from 'vue-router'

    export default defineComponent({
        name: 'HeaderLink',
        props: {
            to: { type: [ String, Object ] as PropType<RouteLocationRaw>, required: true },
            title: { type: String, required: true },
            subtitle: { type: String, required: false }
        }
    })

</script>