<template>

    <div class="media">

        <img ref="image" :src="source" :style="styles" @load="onLoaded">

    </div>

</template>

<script lang="ts">

    export default {
        name: 'Media',
        props: {
            src: { type: String, required: true }
        },
    }

</script>
