<template>

    <div class="flex items-center content-center justify-end mt-5 mb-10 text-xs text-primary">

        <div class="flex items-center content-center cursor-pointer" @click="logout">

            <span>admin@email.com</span>
            <ArrowIcon class="w-auto h-2 ml-2" :direction="Direction.Down"/>

        </div>

    </div>

</template>

<script lang="ts">

    import { defineComponent } from 'vue'
    import ArrowIcon from '../components/icons/ArrowIcon.vue'
    import { useApi } from '../composition/UseApi'
    import { Direction } from '../enums/Direction'

    export default defineComponent({
        name: 'MenuBar',
        components: {
            ArrowIcon
        },
        setup() {

            const api = useApi()

            return {
                Direction,
                async logout() {
                    await api.logout()
                }
            }

        }
    })

</script>
