<template>

    <div>

        <div class="number-input flex flex-row items-center justify-between w-full rounded-lg">

            <div class="number-input__arrow" @click="decreaseValue">
                <FilledArrowIcon :disabled="!canDecrease" :direction="Direction.Down"/>
            </div>

            <div class="number-input__options">

                <span class="number-input__type text-sm">{{ title }}</span>

                <span class="text-lg font-bold text-lg">{{ values[index] }}</span>

            </div>

            <div class="number-input__arrow" @click="increaseValue">
                <FilledArrowIcon :disabled="!canIncrease"/>
            </div>

        </div>

        <div v-if="help" class="number-input__help" :class="{'--disabled': !enabled}">
            {{ help }}
        </div>

    </div>

</template>

<script lang="ts">

    import FilledArrowIcon from './icons/FilledArrowIcon.vue'
    import { defineComponent, ref, computed } from 'vue'
    import { Direction } from '../enums/Direction'

    export default defineComponent({
        name: 'NumberInput',
        components: {
            FilledArrowIcon
        },
        props: {
            title: { type: String, required: true },
            values: { type: Array, required: true },
            help: { type: String, required: false },
        },
        setup(props, { emit }) {

            const index = ref(0)
            const canIncrease = computed(() => index.value < props.values.length - 1)
            const canDecrease = computed(() => index.value !== 0)
            const enabled = ref(true)

            return {
                index,
                enabled,
                Direction,
                canIncrease,
                canDecrease,
                increaseValue() {

                    if (canIncrease.value) {

                        index.value++
                        emit('change', props.values[index.value])
                        enabled.value = true

                    }

                },
                decreaseValue() {

                    if (canDecrease.value) {

                        index.value--
                        emit('change', props.values[index.value])

                    } else {

                        enabled.value = false

                    }

                }
            }

        }
    })

</script>

<style lang="scss">

    @include component(number-input) {

        border: em(1px) solid rgba(210, 213, 219, 0.9);
        height: 60px;
        background: white;

        @include part(options) {

            border-left: em(1px) solid rgba(210, 213, 219, 0.9);
            border-right: em(1px) solid rgba(210, 213, 219, 0.9);

            @apply flex-1 flex justify-between items-center h-full px-6;

        }

        @include part(type) {

            color: #666666;

        }

        @include part(arrow) {

            @apply flex justify-center items-center p-6 cursor-pointer;

        }

        @include part(help) {

            @apply mx-5 my-2 text-xs text-gray-600;

            @include option(disabled) {

                color: red;

            }

        }

    }

</style>
