<template>

    <div class="progress">

        <div class="font-normal text-sm">
            Participant Status
        </div>

        <div class="flex whitespace-no-wrap mt-2">

            <div class="progress__item"
                 v-for="(item, index) of items"
                 :key="index"
                 :class="item.classes"
                 :style="{ flex: item.progress + '%' }">

                <div>
                    {{ item.text }}
                </div>

                <div>
                    {{ item.progress }}%
                </div>

            </div>

        </div>

    </div>

</template>

<script lang="ts">

    import { computed, defineComponent, PropType } from 'vue'
    import { ProjectTaskStatus } from '../enums/ProjectTaskStatus'
    import { generateTagValue } from '../composition/generateTagValue'

    interface TypeInterface {
        type: ProjectTaskStatus,
        progress: number,
    }

    export default defineComponent({
        name: 'Progress',
        props: {
            data: { type: Array as PropType<TypeInterface[]>, required: true },
            scale: { type: Number, default: 100 }
        },
        setup(props) {
            return {
                items: computed(() => {

                    const filtered = props.data.filter(item => item.progress > 0)
                    const total = filtered.reduce((accumulate, item) => item.progress + accumulate, 0)

                    return filtered.map(item => {

                        return {
                            ...generateTagValue(item.type),
                            progress: Math.round(props.scale * item.progress / total)
                        }

                    })

                })
            }
        }
    })

</script>

<style lang="scss">

    @include component(progress) {

        @include part(item) {

            min-width: em(150px);

            @apply border border-l-0 flex justify-between p-2;

            &:first-child {

                @apply rounded-l-md border-l;

            }

            &:last-child {

                @apply rounded-r-md border-r;

            }

        }

    }

</style>
