<template>

    <div class="properties-panel bg-white text-sm overflow-y-auto overflow-x-hidden">

        <Tabs :headers="tabs" :distribution="Distribution.SpaceBetween" equal-size>

            <template #info>

                <div class="mt-8 px-5">

                    <div class="flex flex-row items-center">

                        <Avatar :url="tester.avatar"/>

                        <p class="ml-6 text-lg">{{ tester.firstName }} {{ tester.lastName }}</p>

                    </div>


                    <div class="properties-panel__table mt-8 mb-3">

                        <div v-for="(info, index) of basicInfo" :key="index" class="flex pb-5">

                            <div class="properties-panel__info-title flex-1">{{ info.title }}</div>
                            <div class="flex-1">{{ info.value }}</div>

                        </div>

                    </div>

                    <div class="properties-panel__test-info pt-8">

                        <div v-for="(info, index) of testInfo" :key="index" class="flex pb-5">

                            <div class="properties-panel__info-title flex-1">{{ info.title }}</div>
                            <div class="flex-1">{{ info.value }}</div>

                        </div>

                    </div>

                </div>

            </template>

            <template #transcription>

                <div class="px-5 pt-3">

                    <div v-for="(item, index) of transcript" :key="index"
                        class="properties-panel__transcript-item flex-col py-4">

                        <p class="text-primary">{{ item.time }}</p>
                        <p class="properties-panel__transcript-text mt-2 leading-normal">{{ item.text }}</p>

                    </div>

                </div>

            </template>

        </Tabs>

    </div>

</template>

<script lang="ts">

    import { defineComponent, PropType } from 'vue'
    import { Distribution } from '../enums/Distribution'
    import { SubmissionType } from '../interfaces/ProjectType'
    import Tabs from './Tabs.vue'
    import Avatar from './Avatar.vue'

    export default defineComponent({
        name: 'PropertiesPanel',
        components: {
            Tabs, Avatar
        },
        props: {
            tester: { type: Object as PropType<SubmissionType['data']['tester']>, required: true }
        },
        setup(props) {

            return {
                Distribution,
                basicInfo: [
                    {
                        title: 'Location',
                        value: 'Shanghai'
                        // value: props.tester.location
                    },
                    {
                        title: 'Gender',
                        value: props.tester.submissionDate
                    },
                    {
                        title: 'Age',
                        value: props.tester.submissionTime
                    }
                ],
                testInfo: [
                    {
                        title: 'Date',
                        value: props.tester.submissionDate
                    },
                    {
                        title: 'Time',
                        value: props.tester.submissionTime
                    },
                    {
                        title: 'Duration',
                        value: '20m 30s'
                        // value: props.tester.submissionDuration
                    },
                    {
                        title: 'Device',
                        value: props.tester.device.model
                    },
                    {
                        title: 'OS',
                        value: `${ props.tester.device.systemName } ${ props.tester.device.systemVersion }`
                    }
                ],
                transcript: [
                    {
                        time: '00:03',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
                    },
                    {
                        time: '00:06',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
                    },
                    {
                        time: '00:12',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
                    },
                    {
                        time: '00:16',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
                    },
                    {
                        time: '00:23',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
                    },
                    {
                        time: '00:37',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
                    },
                    {
                        time: '00:42',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
                    },
                    {
                        time: '01:03',
                        text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
                    },
                ],
                tabs: [
                    { title: 'Info', key: 'info' },
                    { title: 'Transcription', key: 'transcription' }
                ]
            }

        }
    })

</script>

<style lang="scss">

    @include component(properties-panel) {

        width: 300px;

        @include part(info-title) {

            color: #BFBFBF;

        }

        @include part(test-info) {

            border-top: solid #F3F3F3 1px;

        }

        @include part(transcript-item) {

            border-bottom: solid #F3F3F3 1px;

            &:last-child {

                border-bottom: none;

            }

        }

        @include part(transcript-text) {

            color: #333333;

        }

    }

</style>
