<template>

    <div class="recap-logo cursor-pointer">

        <div class="text-xl">

            <span class="font-black">Recap</span>

            <span>.</span>

            <span class="text-primary">Chat</span>

        </div>

        <span v-if="$slots['subtitle']" class="recap-logo__subtitle text-xs">

            <slot name="subtitle"/>

        </span>

    </div>

</template>

<script lang="ts">

    export default {
        name: 'RecapLogo'
    }

</script>

<style lang="scss">

    @include component(recap-logo) {

        @include part(subtitle) {

            color: #666666;
            font-family: $font-family-gt;

        }

    }

</style>
