<template>

    <div class="spinner"/>

</template>

<style lang="scss">

    @include component(spinner) {

        font-size: 10px;
        position: relative;
        text-indent: -9999em;
        border-top: 0.33em solid rgba(255, 255, 255, 0.2);
        border-right: 0.33em solid rgba(255, 255, 255, 0.2);
        border-bottom: 0.33em solid rgba(255, 255, 255, 0.2);
        border-left: 0.33em solid #ffffff;
        transform: translateZ(0);
        animation: infiniteSpinner 1.1s infinite linear;
        border-radius: 50%;
        width: 3em;
        height: 3em;

        &:after {

            border-radius: 50%;
            width: 3em;
            height: 3em;

        }

        @keyframes infiniteSpinner {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

    }

</style>
