<template>

    <Card class="submission-card">

        <div class="submission-card__profile">

            <div class="submission-card__avatar"/>

            <div class="submission-card__details">

                <h1>{{ tester.firstName }} {{ tester.lastName }}</h1>

                <span>{{ tester.gender }}, {{ tester.age }}</span>

            </div>

        </div>

        <div class="submission-card__city">
            {{ tester.city }}
        </div>

        <div class="submission-card__actions">

            <Button hollow @click="download">
                Download
            </Button>

            <Button @click="viewSubmission">

                <template #leftIcon>
                    <PlayIcon/>
                </template>

                {{ duration }}

            </Button>

        </div>

    </Card>

</template>

<script lang="ts">

    import { defineComponent, PropType } from 'vue'
    import { useRoute, useRouter } from 'vue-router'
    import Button from '../components/Button.vue'
    import Card from '../components/Card.vue'
    import PlayIcon from '../components/icons/PlayIcon.vue'
    import { formatTime } from '../composition/formatTime'
    import { useApi } from '../composition/UseApi'
    import { Route } from '../enums/Route'
    import { ProjectType } from '../interfaces/ProjectType'

    export default defineComponent({
        name: 'TaskCard',
        components: {
            Card, PlayIcon, Button
        },
        props: {
            tester: { type: Object as PropType<ProjectType['data']['testers'][0]>, required: true }
        },
        setup(props) {

            const router = useRouter()
            const route = useRoute()
            const api = useApi()

            return {
                duration: formatTime(props.tester.video!.duration),
                viewSubmission() {

                    router.push({
                        name: Route.Submission,
                        params: {
                            project: route.params.project,
                            tester: props.tester.id
                        }
                    })

                },
                async download() {

                    api.downloadVideo(props.tester.video!.id)

                }
            }

        }
    })

</script>

<style lang="scss">

    @include component(submission-card) {

        flex-direction: row;
        align-items: center;

        @include part(city) {
            flex: 1;
            color: #9095A6;
        }

        @include part(profile) {

            display: flex;
            align-items: center;
            flex: 1;

            h1, span {
                display: block;
            }

            h1 {
                font-weight: bold;
                font-size: 20px;
                color: #000000;
            }

            span {
                font-size: 14px;
                color: #9095A6;
            }

        }

        @include part(avatar) {
            width: 50px;
            height: 50px;
            background: rebeccapurple;
            border-radius: 50px;
            margin-right: 20px;
        }

        @include part(actions) {
            display: flex;
        }

    }

</style>
