<template>

    <table class="table">
        <thead>
        <tr>
            <th v-for="header of data.headers" :key="header">{{ header }}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(columns, index) of data.body" :key="index">

            <td v-if="data.withCheckboxes" width="1">
                <Input :type="InputType.Checkbox" :name="`${index}`"/>
            </td>

            <template v-for="(value, property) in columns">

                <slot :name="`${property}-td`" v-bind="value || {}">

                    <td :key="property">

                        <slot :name="property" v-bind="value" v-if="value">
                            {{ value }}
                        </slot>

                    </td>

                </slot>

            </template>

        </tr>
        </tbody>
    </table>

</template>

<script lang="ts">

    import { defineComponent, PropType } from 'vue'
    import { InputType } from '../enums/InputType'
    import { TableDataInterface } from '../interfaces/TableDataInterface'
    import Input from './form/Input.vue'

    export default defineComponent({
        name: 'Table',
        components: { Input },
        props: {
            data: { type: Object as PropType<TableDataInterface>, required: true }
        },
        setup() {
            return {
                InputType
            }
        }
    })

</script>

<style lang="scss">

    @include component(table) {

        @apply w-full border-separate;
        border-spacing: 0 theme('spacing.2');

        tr {
            @apply text-left;
        }

        th {
            @apply px-6 py-4 text-xs font-normal;
        }

        td {

            @apply p-6 text-sm bg-white border-t border-b border-gray-300;

            &:first-child {
                @apply border-l;
            }

            &:last-child {
                @apply border-r;
            }

        }

    }

</style>
