<template>

    <div class="tabs">

        <div class="flex justify-between">

            <div class="flex w-full border-b select-none" :class="[ distribution ]">

                <div v-for="header of headers"
                     :key="header.key"
                     class="tabs__header-item relative flex py-5 mr-0 cursor-pointer opacity-25"
                     :class="{
                         'opacity-100 text-primary --active': activeTab === header.key,
                         'flex-1 text-center justify-center': equalSize,
                         'mr-6': !equalSize,
                     }"
                     @click="setActiveTab(header.key)">

                    <span>
                        {{ header.title }}
                    </span>

                </div>

            </div>

            <slot name="tabsAction"/>

        </div>

        <slot :key="activeTab" :name="activeTab"/>

    </div>

</template>

<script lang="ts">

    import { defineComponent, PropType, ref } from 'vue'
    import { useRouter } from 'vue-router'
    import { Distribution } from '../enums/Distribution'

    interface HeaderInterface {
        title: string,
        key: string
    }

    interface PropsInterface {
        headers: HeaderInterface[]
    }

    export default defineComponent({
        name: 'Tabs',
        props: {
            headers: { type: Array as PropType<HeaderInterface[]>, required: true },
            distribution: { type: String as PropType<Distribution>, default: Distribution.Start },
            equalSize: { type: Boolean, default: false }
        },
        setup(props: Readonly<PropsInterface>) {

            const router = useRouter()
            const activeTab = ref(router.currentRoute.value.query.tab ?? props.headers[0].key)

            return {
                activeTab,
                setActiveTab(key: string) {

                    if (key !== activeTab.value) {

                        router.push({ query: { tab: activeTab.value = key } })

                    }

                }
            }

        }
    })

</script>

<style lang="scss">

    @include component(tabs) {

        @include part(header-item) {

            &:last-child {
                @apply mr-0;
            }

            @include option(active) {

                &:before {

                    content: '';
                    bottom: calc(theme('padding.1') * -0.25);
                    height: 2px;
                    @apply absolute block w-full bg-primary;

                }

            }

        }

    }

</style>
