<template>

    <div class="border select-none p-2 rounded-md inline-block text-xs" :class="options.classes">
        {{ options.text }}
    </div>

</template>

<script lang="ts">

    import { computed, defineComponent, PropType } from 'vue'
    import { ProjectTaskStatus } from '../enums/ProjectTaskStatus'
    import { generateTagValue } from '../composition/generateTagValue'

    export default defineComponent({
        name: 'Tag',
        props: {
            type: { type: String as PropType<ProjectTaskStatus>, required: true }
        },
        setup(props) {

            return {
                options: computed(() => generateTagValue(props.type))
            }

        }
    })

</script>