<template>

    <Card class="task-card">

        <span>Task {{ index + 1 }}</span>

        <h1>
            {{ task.header }}
        </h1>

        <p>
            {{ task.content }}
        </p>

    </Card>

</template>

<script lang="ts">

    import { defineComponent, PropType } from 'vue'
    import Card from '../components/Card.vue'
    import { TaskInterface } from '../interfaces/ProjectType'

    export default defineComponent({
        name: 'TaskCard',
        components: {
            Card
        },
        props: {
            index: { type: Number, required: true },
            task: { type: Object as PropType<TaskInterface>, required: true }
        }
    })

</script>

<style lang="scss">

    @include component(task-card) {

        span {
            font-size: 10px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #9095A6;
            margin-bottom: var(--small-spacing);
            display: block;

        }

        h1 {
            font-size: 20px;
            color: #000000;
            margin-bottom: var(--small-spacing);
        }

        p {
            font-size: 16px;
            color: #9095A6;
        }

    }

</style>
