<template>

    <label :for="name" class="text-area">

        <textarea :id="name" rows="5"
               v-model="value"
               :class="{ '--active': value }"
               :style="{ '--color': color }"/>

        <div class="text-area__placeholder">
            {{ placeholder }}
        </div>

    </label>

</template>

<script lang="ts">

    import {defineComponent, PropType, ref, watchEffect} from 'vue'
    import { Color } from '../enums/Color'

    export default defineComponent ({
        name: 'TextArea',
        props: {
            default: { type: String, default: '' },
            placeholder: { type: String, default: '' },
            name: { type: String, required: true },
            color: { type: String as PropType<Color>, default: Color.Primary }
        },
        setup(props, { emit }) {

            const value = ref(props.default)

            watchEffect(() => emit('update:value', value.value))

            return {
                value
            }
        }
    })

</script>

<style lang="scss">

    @include component(text-area) {

        @apply w-full flex flex-col relative leading-none text-sm;

        @include option(invalid) {

            textarea {

                border-color: red;

            }

        }

        textarea {

            background: white;
            padding: em(18px) em(20px);
            border: em(1px) solid rgba(210, 213, 219, 0.9);

            @apply appearance-none resize-none outline-none rounded-lg;

            &:focus, &#{option(active)} {

                border: em(2px) solid var(--color-primary);
                background: none;
                @apply outline-none;

                + div {

                    transform: translate(em(22px), -50%) scale(.8);
                    background: #F7F8FB;
                    @apply top-0;

                }

            }

        }


        @include part(placeholder) {

            transform: translate(em(20px), -50%);
            top: 27px;
            @apply absolute flex items-center justify-center leading-none pointer-events-none origin-left transition-all duration-200 ease-in-out px-3 py-1 rounded-full;

        }

    }

</style>
