<template>

    <div class="timeline flex items-center flex-1 mx-10">

        <slot name="controls"/>

        <div ref="trackRef" class="relative flex-1">

            <div class="bg-white absolute w-1 rounded h-12 -mt-2 shadow-md block z-10 border"
                 :style="{ transform: `translate(${caretOffset}px)` }"/>

            <div class="timeline__tasks relative" @click="updateProgressManually">

                <div v-for="(task, index) of elements" :key="index" class="timeline__task"
                     :style="{ width: task.width + '%' }">

                    <div class="timeline__marker" @click="onTimeMarkerClick(task.percentage)"/>

                    <div class="timeline__task-description">
                        {{ task.title }}
                    </div>

                </div>

            </div>

        </div>

        <div class="text-xs ml-4 font-mono opacity-75">
            {{ currentTime }} / {{ totalDuration }}
        </div>

    </div>

</template>

<script lang="ts">

    import { defineComponent, onMounted, onUnmounted, PropType, ref, unref, watchEffect } from 'vue'
    import { formatTime } from '../composition/formatTime'
    import { useTimeline } from '../composition/UseTimeline'
    import { Color } from '../enums/Color'
    import { NewTaskInterface } from '../interfaces/ProjectType'

    export default defineComponent({
        name: 'Timeline',
        props: {
            duration: { type: Number as PropType<number>, required: true },
            tasks: { type: Array as PropType<NewTaskInterface[]>, required: true },
            isVideoPlaying: { type: Boolean, required: true },
            isVideoMuted: { type: Boolean, required: true }
        },
        setup(props) {

            const max = 100
            const duration = unref(props.duration)

            let lastDuration = 0

            const { progress, updateProgress, seek, onTimeMarkerClick, currentTime } = useTimeline(duration)

            const trackRef = ref<HTMLDivElement | null>(null)
            const caretOffset = ref(0)
            const caretWidth = 4

            function updateProgressManually(event: MouseEvent) {

                if (trackRef.value) {

                    const { value: { offsetLeft, offsetWidth } } = trackRef
                    const completion = event.clientX - offsetLeft - caretWidth / 2

                    updateProgress(completion / offsetWidth * 100)
                    seek()

                }

            }

            function mouseUp() {

                if (trackRef.value) {

                    trackRef.value.removeEventListener('mousemove', updateProgressManually, false)

                }

            }

            function mouseDown(event: MouseEvent) {

                if (trackRef.value) {

                    updateProgressManually(event)
                    trackRef.value.addEventListener('mousemove', updateProgressManually, false)

                }

            }

            onMounted(() => {

                if (trackRef.value) {

                    const total = trackRef.value.offsetWidth

                    trackRef.value.addEventListener('mousedown', mouseDown, false)
                    document.addEventListener('mouseup', mouseUp, false)

                    onUnmounted(() => {

                        if (trackRef.value) {
                            trackRef.value.removeEventListener('mousedown', mouseDown, false)
                        }

                        document.removeEventListener('mouseup', mouseUp, false)

                    })

                    watchEffect(() => caretOffset.value = progress.value * total / 100)

                }

            })

            return {
                caretOffset,
                trackRef,
                progress,
                seek,
                updateProgress,
                Color,
                max,
                onTimeMarkerClick,
                currentTime,
                updateProgressManually,
                totalDuration: formatTime(duration),
                elements: unref(props.tasks).map((task, index) => {

                    const stoppedAt = (task.stoppedAt / 1000)
                    const progress = (max / duration) * (stoppedAt - lastDuration)

                    const data = {
                        title: `Task ${ index + 1 }`,
                        width: progress,
                        percentage: lastDuration / duration * 100,
                        startAt: lastDuration,
                        duration: stoppedAt - lastDuration,
                        endAt: stoppedAt
                    }

                    lastDuration = stoppedAt

                    return data

                })
            }

        }
    })

</script>

<style lang="scss">


    @include component(timeline) {

        @include element(tasks) {

            display: flex;
            width: 100%;

        }

        @include part(task-description) {

            @apply absolute bg-white p-2 left-0 rounded hidden border text-xs;

            top: calc(theme('spacing.16') * -1)

        }

        @include element(task) {

            @apply relative whitespace-no-wrap text-xs p-4 border-t-2 border-b-2 border-transparent cursor-pointer;

            &:nth-child(odd) {

                @apply bg-primary;

            }

            &:nth-child(even) {

                @apply bg-primary-dark;

            }

            &:first-child {

                @apply rounded-l-lg border-l-2;

                > .timeline__marker {
                    left: 0;
                }

            }

            &:last-child {
                @apply rounded-r-lg flex-1 border-r-2;
            }

            &:hover {

                @apply bg-white border-primary;

                & .timeline__task-description {
                    display: block;
                }

                > .timeline__marker {
                    @apply bg-transparent;
                }

            }

        }

        @include element(marker) {

            @apply bg-primary border border-primary w-2 h-2 rounded-full absolute;
            top: calc(theme('spacing.6') * -1);
            left: calc(theme('width.2') * -1 / 2);

            &:hover div {
                @apply block;
            }

        }

    }

</style>
