<template>

    <div class="typography" :class="[ `--${style}` ]">
        <slot/>
    </div>

</template>

<script lang="ts">

    import { defineComponent, PropType } from 'vue'
    import { Typography } from '../enums/Typography'

    export default defineComponent({
        name: 'Typography',
        props: {
            style: { type: String as PropType<Typography>, required: true }
        }
    })

</script>

<style lang="scss">

    $root-font-size: 16px;

    @include block(typography, $root-font-size) {

        font-size: $root-font-size;

        @include modifier(a) {

            @apply font-normal;
            font-size: em(20px);
            color: #50555C;

            ~ #{modifier(b)} {
                margin-top: em(20px);
            }

        }

        @include modifier(b) {

            @apply font-normal;
            font-size: em(14px);
            color: #50555C;

        }

    }

</style>
