<template>

    <div class="flex flex-col py-10 justify-between w-full h-full">

        <div class="flex items-center justify-center w-full video-player__screen-video" @click="play">

            <video ref="videoPlayerRef"
                   :src="videoSource"
                   class="object-contain rounded-md w-auto h-full pointer-events-none"/>

        </div>

        <Timeline class="pt-10"
                  :is-video-playing="playerBackStatus"
                  :duration="data.video.duration"
                  :tasks="data.tasks" @toggle-play-status="play">

            <template #controls>

                <div class="flex text-primary">
                    <PlayIcon class="mr-4 cursor-pointer" :paused="playerBackStatus" @click="play"/>
                    <VolumeIcon class="mr-4 cursor-pointer" :muted="muteStatus" @click="mute"/>
                </div>

            </template>

        </Timeline>

    </div>

</template>

<script lang="ts">

    import { defineComponent, PropType } from 'vue'
    import { useRoute, useRouter } from 'vue-router'
    import { useApi } from '../composition/UseApi'
    import { useTimeline } from '../composition/UseTimeline'
    import { useVideoPlayback } from '../composition/VideoSyncer'
    import { Color } from '../enums/Color'
    import { Direction } from '../enums/Direction'
    import { Route } from '../enums/Route'
    import { SubmissionType } from '../interfaces/ProjectType'
    import Timeline from './Timeline.vue'
    import PlayIcon from '../components/icons/PlayIcon.vue'
    import VolumeIcon from '../components/icons/VolumeIcon.vue'

    export default defineComponent({
        name: 'VideoPlayer',
        components: {
            Timeline, PlayIcon, VolumeIcon
        },
        props: {
            data: { type: Object as PropType<SubmissionType['data']>, required: true }
        },
        setup(props) {

            const api = useApi()
            const route = useRoute()
            const router = useRouter()
            const { currentTime } = useTimeline(props.data.video.duration)
            const { videoPlayerRef, play, mute, playerBackStatus, muteStatus } = useVideoPlayback()

            return {
                Color,
                Direction,
                videoPlayerRef,
                playerBackStatus,
                muteStatus,
                play,
                mute,
                currentTime,
                videoSource: api.prefetchVideoUrl(props.data.video.id),
                goToProject() {
                    router.push({
                        name: Route.Project,
                        params: {
                            project: route.params.project
                        }
                    })
                }
            }

        }
    })

</script>

<style lang="scss">

    @include component(video-player) {

        @include part(screen-video) {

            height: 80%;

            video {

                @apply shadow-md;

            }

        }

    }

</style>
