<template>

    <div class="video-editor">

        <div class="video-editor__main">

            <div class="video-editor__preview">

                <div class="video-editor__close" @click="goToProject">

                    <ArrowIcon :color="Color.White"/>

                </div>

                <div class="video-editor__screen-video" @click="play">

                    <video ref="videoPlayerRef" :src="videoSource"></video>

                </div>

            </div>

            <Timeline :duration="data.video.duration" :tasks="data.tasks" @toggle-play-status="play"/>

            <div class="video-editor__notes-area">

                <div class="video-editor__notes">

                    <div class="video-editor__notes-time">

                        <span>{{currentTime}}</span>

                    </div>

                    <div class="video-editor__notes-input">

                        <input type="text" placeholder="Write a comment...">

                    </div>

                </div>

                <Button>

                    <span>Submit</span>

                    <template #rightIcon>
                        <ArrowIcon :color="Color.White" :direction="Direction.Right"/>
                    </template>

                </Button>

            </div>

        </div>

        <PropertiesPanel :tester="data.tester"/>

    </div>

</template>

<script lang="ts">

    import { defineComponent, PropType } from 'vue'
    import { useRoute, useRouter } from 'vue-router'
    import { useApi } from '../composition/UseApi'
    import { useTimeline } from '../composition/UseTimeline'
    import { useVideoPlayback } from '../composition/VideoSyncer'
    import { Color } from '../enums/Color'
    import { Direction } from '../enums/Direction'
    import { Route } from '../enums/Route'
    import { SubmissionType } from '../interfaces/ProjectType'
    import Button from './Button.vue'
    import ArrowIcon from './icons/ArrowIcon.vue'
    import PropertiesPanel from './PropertiesPanel.vue'
    import Timeline from './Timeline.vue'

    export default defineComponent({
        name: 'VideoEditor',
        components: {
            PropertiesPanel, ArrowIcon, Timeline, Button
        },
        props: {
            data: { type: Object as PropType<SubmissionType['data']>, required: true }
        },
        setup(props) {

            const api = useApi()
            const route = useRoute()
            const router = useRouter()
            const { currentTime } = useTimeline(props.data.video.duration)
            const { videoPlayerRef, videoSource, play } = useVideoPlayback(
                api.prefetchVideoUrl(props.data.video.id)
            )

            return {
                Color,
                Direction,
                videoPlayerRef,
                videoSource,
                play,
                currentTime,
                goToProject() {
                    router.push({
                        name: Route.Project,
                        params: {
                            project: route.params.project
                        }
                    })
                }
            }

        }
    })

</script>

<style lang="scss">

    @include block(video-editor, 16px) {

        display: flex;
        height: 100vh;
        background: #22313E;

        @include part(main) {

            flex: 1;
            display: flex;
            flex-direction: column;

        }

        @include part(preview) {

            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 0;

        }

        @include part(close) {

            position: absolute;
            top: em(30px);
            left: em(30px);
            height: em(40px);
            width: em(40px);
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(white, 0.1);
            border-radius: em(80px);
            color: white;
            cursor: pointer;

        }

        @include part(screen-video) {

            width: auto;
            height: 80%;
            border-radius: em(4px);
            overflow: hidden;
            justify-content: center;
            align-items: center;
            display: flex;

            video {
                pointer-events: none;
                width: auto;
                height: 100%;
                object-fit: contain;
            }

        }

        @include part(notes-area) {

            background: #2B3B4A;
            padding: em(30px);
            color: #79818B;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: em(40px);

        }

        @include part(notes) {

            display: flex;
            align-items: center;
            flex: 1;

        }

        @include part(notes-time) {

            display: flex;
            justify-content: center;
            align-items: center;
            padding: em(8px) em(16px);
            background: #22313E;
            border-radius: em(30px);
            font-variant-numeric: tabular-nums;
            text-transform: full-width;

        }

        @include part(notes-input) {

            flex: 1;
            margin-left: em(15px);
            margin-right: em(15px);

            input {

                background: none;
                border: none;
                color: white;
                width: 100%;
                font-size: em(14px);

                &:focus {

                    outline: none;

                }

            }

        }

    }

</style>
