@font-face {

  font-weight: $font-weight-book;
  font-family: $font-family-circular;
  src: url('../assets/fonts/circular/CircularStd-Book.woff2') format('woff2'),
  url('../assets/fonts/circular/CircularStd-Book.woff') format('woff');
  font-display: fallback;

}

@font-face {

  font-weight: $font-weight-book;
  font-family: $font-family-circular;
  font-style: italic;
  src: url('../assets/fonts/circular/CircularStd-BookItalic.woff2') format('woff2'),
  url('../assets/fonts/circular/CircularStd-BookItalic.woff') format('woff');
  font-display: fallback;

}

@font-face {

  font-weight: $font-weight-bold;
  font-family: $font-family-circular;
  src: url('../assets/fonts/circular/CircularStd-Bold.woff2') format('woff2'),
  url('../assets/fonts/circular/CircularStd-Bold.woff') format('woff');
  font-display: fallback;

}

@font-face {

  font-weight: $font-weight-black;
  font-family: $font-family-circular;
  src: url('../assets/fonts/circular/CircularStd-Black.woff2') format('woff2'),
  url('../assets/fonts/circular/CircularStd-Black.woff') format('woff');
  font-display: fallback;

}

@font-face {
  font-family: $font-family-gt;
  src: url('../assets/fonts/gt-america-mono/GTAmericaMono-MediumItalic.woff2') format('woff2'),
  url('../assets/fonts/gt-america-mono/GTAmericaMono-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $font-family-gt;
  src: url('../assets/fonts/gt-america-mono/GTAmericaMono-Black.woff2') format('woff2'),
  url('../assets/fonts/gt-america-mono/GTAmericaMono-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-family-gt;
  src: url('../assets/fonts/gt-america-mono/GTAmericaMono-RegularItalic.woff2') format('woff2'),
  url('../assets/fonts/gt-america-mono/GTAmericaMono-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $font-family-gt;
  src: url('../assets/fonts/gt-america-mono/GTAmericaMono-Medium.woff2') format('woff2'),
  url('../assets/fonts/gt-america-mono/GTAmericaMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-family-gt;
  src: url('../assets/fonts/gt-america-mono/GTAmericaMono-BlackItalic.woff2') format('woff2'),
  url('../assets/fonts/gt-america-mono/GTAmericaMono-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $font-family-gt;
  src: url('../assets/fonts/gt-america-mono/GTAmericaMono-BoldItalic.woff2') format('woff2'),
  url('../assets/fonts/gt-america-mono/GTAmericaMono-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $font-family-gt;
  src: url('../assets/fonts/gt-america-mono/GTAmericaMono-Light.woff2') format('woff2'),
  url('../assets/fonts/gt-america-mono/GTAmericaMono-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-family-gt;
  src: url('../assets/fonts/gt-america-mono/GTAmericaMono-LightItalic.woff2') format('woff2'),
  url('../assets/fonts/gt-america-mono/GTAmericaMono-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $font-family-gt;
  src: url('../assets/fonts/gt-america-mono/GTAmericaMono-Thin.woff2') format('woff2'),
  url('../assets/fonts/gt-america-mono/GTAmericaMono-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-family-gt;
  src: url('../assets/fonts/gt-america-mono/GTAmericaMono-Bold.woff2') format('woff2'),
  url('../assets/fonts/gt-america-mono/GTAmericaMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-family-gt;
  src: url('../assets/fonts/gt-america-mono/GTAmericaMono-ThinItalic.woff2') format('woff2'),
  url('../assets/fonts/gt-america-mono/GTAmericaMono-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $font-family-gt;
  src: url('../assets/fonts/gt-america-mono/GTAmericaMono-Regular.woff2') format('woff2'),
  url('../assets/fonts/gt-america-mono/GTAmericaMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
