@import "~csstyle/csstyle";
@import "utilities";

$csstyle-component-symbol: '';
$csstyle-option-symbol: '--';
$csstyle-part-symbol: '__';
$csstyle-tweak-symbol: '+';
$csstyle-location-symbol: '@';
$csstyle-root-id: 'app';

$font-family-circular: 'Circular';
$font-stack-circular: $font-family-circular, sans-serif;

$font-family-gt: 'GT America Mono';

$font-weight-book: 400;
$font-weight-bold: 700;
$font-weight-black: 900;
