@import "global";
@import "fonts";
@import "~modern-css-reset/src/reset.css";

:root {
  --small-spacing: 10px;
  --medium-spacing: 48px;
  --spacing-35: 35px;
  --color-white: #ffffff;
  --color-primary: #4378FF;
  --color-primary-dark: #2E5DD3;
  --color-black: #000000;
}

html,
body {

  -webkit-font-smoothing: antialiased;

  * {
    font-family: $font-stack-circular;
  }

  &[lock-scroll] {

    overflow: hidden;

  }

}

@tailwind base;
@tailwind components;
@tailwind utilities;
