<template>

    <Container class="h-screen login" center>

        <Card center class="px-20 pt-20 pb-12">

            <Logo/>

            <form class="flex flex-col my-10 login__form">

                <Input :type="InputType.Email"
                       :validation="validation.email"
                       name="email"
                       placeholder="Email"/>

                <Input :type="InputType.Password"
                       :validation="validation.password"
                       name="password"
                       placeholder="Password"/>

                <Error v-if="errorMessage" center>
                    {{ errorMessage }}
                </Error>

                <div class="flex justify-center mt-8">
                    <Button @click="login" :disabled="loading">Sign in</Button>
                </div>

            </form>

            <Anchor :to="Route.RecoverPassword">Forgot your password?</Anchor>

        </Card>

    </Container>

</template>

<script lang="ts">

    import { defineComponent, ref } from 'vue'
    import { useRouter } from 'vue-router'
    import Anchor from '../components/Anchor.vue'
    import Button from '../components/Button.vue'
    import Card from '../components/Card.vue'
    import Container from '../components/Container.vue'
    import Error from '../components/form/Error.vue'
    import Input from '../components/form/Input.vue'
    import Logo from '../components/Logo.vue'
    import { useApi } from '../composition/UseApi'
    import { useValidation } from '../composition/UseValidation'
    import { email, required } from '../composition/UseValidators'
    import { InputType } from '../enums/InputType'
    import { Route } from '../enums/Route'
    import { Size } from '../enums/Size'

    export default defineComponent({
        name: 'Login',
        components: {
            Container, Card, Logo, Button, Input, Anchor, Error
        },
        setup() {

            const loading = ref(false)
            const errorMessage = ref('')
            const { validation, validate, getData } = useValidation({
                email: [ required('Email field is required.'), email('Email field should be a valid email.') ],
                password: [ required('Password field is required') ]
            })

            const api = useApi()
            const router = useRouter()

            return {
                validation,
                Route,
                Size,
                InputType,
                loading,
                errorMessage,
                async login() {

                    if (!validate()) {

                        return

                    }

                    loading.value = true

                    const data = getData()
                    const response = await api.login(data.email! as string, data.password! as string)

                    if (response.isErr()) {

                        errorMessage.value = response.error.message

                        loading.value = false

                    }

                    if (response.isOk()) {

                        await router.push({ name: Route.Projects })

                    }

                }
            }

        }
    })

</script>

<style lang="scss">

    @include component(login) {

        @include part(form) {

            width: em(360px);

        }

    }

</style>
