<template>

    <Container class="project">

        <MenuBar/>

        <div class="flex items-end justify-between mb-10">

            <Header :navigation="{ to: { name: Route.Projects }, title: 'Dashboard'}" :title="project.name"/>

            <div class="flex flex-col px-4 py-3 text-sm font-normal bg-white border rounded-full">
                {{ tableData.body.length }} Participants
            </div>

        </div>

        <Progress :data="progressData"/>

        <Table :data="tableData" class="mt-8">

            <template #avatar-td="{ url, name }">

                <td width="1">

                    <Avatar :url="url">
                        {{ name }}
                    </Avatar>

                </td>

            </template>

            <template #name="{ value }">

                <div :class="{ 'text-primary font-bold text-base': value !== '-' }">
                    {{ value }}
                </div>

            </template>

            <template #status="{ type }">
                <Tag :type="type"/>
            </template>

            <template #action="{ projectId, testerId, duration }">

                <Button class="ml-auto" @click="openVideo(projectId, testerId)" :size="Size.Small">

                    <template #left-icon>
                        <PlayIcon/>
                    </template>

                    {{ duration }}

                </Button>

            </template>

        </Table>

    </Container>

</template>

<script lang="ts">

    import { computed, defineComponent, reactive } from 'vue'
    import { useRoute, useRouter } from 'vue-router'
    import Avatar from '../components/Avatar.vue'
    import Button from '../components/Button.vue'
    import Container from '../components/Container.vue'
    import Header from '../components/Header.vue'
    import PlayIcon from '../components/icons/PlayIcon.vue'
    import Progress from '../components/Progress.vue'
    import Table from '../components/Table.vue'
    import Tag from '../components/Tag.vue'
    import MenuBar from '../components/MenuBar.vue'
    import { formatTime } from '../composition/formatTime'
    import { useApi } from '../composition/UseApi'
    import { Color } from '../enums/Color'
    import { Direction } from '../enums/Direction'
    import { ProjectTaskStatus } from '../enums/ProjectTaskStatus'
    import { Route } from '../enums/Route'
    import { Size } from '../enums/Size'
    import { ProjectType } from '../interfaces/ProjectType'
    import { TableDataInterface } from '../interfaces/TableDataInterface'

    export default defineComponent({
        name: 'Project',
        components: {
            Header, Container, Button, Progress, Table, PlayIcon, Avatar, Tag, MenuBar
        },
        async setup() {

            const route = useRoute()
            const router = useRouter()
            const api = useApi()

            const project = reactive<Partial<Writeable<ProjectType['data']>>>({
                name: '',
                seats: 0,
                testers: []
            })

            const submissions = computed(() => project.testers!.filter(tester => tester.video))
            const tabs = computed(() => {

                return [
                    { title: `Entries (${ submissions.value.length })`, key: 'entries' }
                ]

            })

            const response = await api.project(+route.params.project)

            const tableData: TableDataInterface = {
                withCheckboxes: true,
                headers: [ null, null, 'Name', 'Status', 'Location', 'Gender', 'Age', null ],
                body: []
            }

            if (response.isOk()) {

                tableData.body.push(
                    ...response.value.testers.map((tester, index) => {
                        return {
                            avatar: {
                                url: tester.avatar,
                                name: `P${ index + 1 }`
                            },
                            name: {
                                value: `${ tester.firstName } ${ tester.lastName }`
                            },
                            status: {
                                type: tester.status
                            },
                            location: tester.city,
                            gender: tester.gender,
                            age: tester.age,
                            action: !tester.video ? null : {
                                projectId: response.value.id,
                                testerId: tester.id,
                                duration: formatTime(tester.video.duration)
                            }
                        }
                    })
                )

                /**
                 * Fill the missing seats with placeholder data
                 */

                for (let index = response.value.testers.length; index < response.value.seats; index++) {

                    tableData.body.push({
                        avatar: { url: null, name: `P${ index + 1 }` },
                        name: { value: '-' },
                        status: { type: ProjectTaskStatus.Recruiting },
                        location: '-',
                        gender: '-',
                        age: '-',
                        action: null
                    })

                }

                const order = [
                    ProjectTaskStatus.Completed,
                    ProjectTaskStatus.Processing,
                    ProjectTaskStatus.StartedTest,
                    ProjectTaskStatus.Incomplete,
                    ProjectTaskStatus.Recruited,
                    ProjectTaskStatus.Recruiting
                ]

                tableData.body = sortByImportance(tableData.body, order)

                project.testers = response.value.testers
                project.name = response.value.name

            }

            function sortByImportance<A extends Array<any>>(array: A, order: string[]): A {

                return array.sort((a, b) => {

                    const A = a.status.type
                    const B = b.status.type

                    if (order.indexOf(A) === order.indexOf(B)) return 0
                    if (order.indexOf(A) > order.indexOf(B)) return 1

                    return -1

                })

            }

            function generateProgressData(data: TableDataInterface['body']) {

                const progress: Record<ProjectTaskStatus, number> = {
                    [ProjectTaskStatus.Completed]: 0,
                    [ProjectTaskStatus.Processing]: 0,
                    [ProjectTaskStatus.StartedTest]: 0,
                    [ProjectTaskStatus.Recruited]: 0,
                    [ProjectTaskStatus.Incomplete]: 0,
                    [ProjectTaskStatus.Recruiting]: 0
                }

                for (const item of data) {

                    const { status: { type } } = item as { status: { type: ProjectTaskStatus } }

                    progress[type]++

                }

                return Object.keys(progress).map(key => {
                    return {
                        type: key,
                        progress: progress[key as ProjectTaskStatus]
                    }
                })

            }

            return {
                project,
                submissions,
                tabs,
                Direction,
                Color,
                Route,
                Size,
                StatusTag: ProjectTaskStatus,
                tableData,
                progressData: generateProgressData(tableData.body),
                openVideo(project: number, tester: number) {
                    router.push({
                        name: Route.Submission,
                        params: { project, tester }
                    })
                },
                async logout() {

                    await api.logout()

                },
                async download() {
                    console.log('downloading all')
                    // api.downloadAllSubmissions()
                }
            }
        }
    })

</script>
