<template>

    <Container class="projects">

        <MenuBar/>

        <Header class="mb-12">
            Dashboard
        </Header>

        <Tabs :headers="tabs">

            <template #projects>

                <Table :data="tableData" v-if="tableData.body.length">

                    <template #name="{ title, subtitle, to }">

                        <HeaderLink :to="to" :title="title" :subtitle="subtitle"/>

                    </template>

                    <template #action="{ project }">

                        <Button hollow :size="Size.Small" class="ml-auto" @click="viewProject(project)">
                            View
                        </Button>

                    </template>

                </Table>

                <Card class="mt-6" center v-else>

                    <h1 class="text-xl leading-loose">You don’t have any tests setup.</h1>

                    <p class="text-sm">
                        Reach out to support@recap.chat to get up and running.
                    </p>

                </Card>

            </template>

        </Tabs>

    </Container>

</template>

<script lang="ts">

    import { computed, defineComponent } from 'vue'
    import { useRouter } from 'vue-router'
    import Button from '../components/Button.vue'
    import Card from '../components/Card.vue'
    import Container from '../components/Container.vue'
    import Header from '../components/Header.vue'
    import HeaderLink from '../components/HeaderLink.vue'
    import Table from '../components/Table.vue'
    import Tabs from '../components/Tabs.vue'
    import { useApi } from '../composition/UseApi'
    import { Color } from '../enums/Color'
    import { Direction } from '../enums/Direction'
    import { Route } from '../enums/Route'
    import { Size } from '../enums/Size'
    import { Typography as TypographyStyle } from '../enums/Typography'
    import { TableDataInterface } from '../interfaces/TableDataInterface'
    import MenuBar from '../components/MenuBar.vue'

    export default defineComponent({
        name: 'Projects',
        components: {
            Container, Tabs, Table, HeaderLink, Card, Header, Button,MenuBar
        },
        async setup() {

            const api = useApi()
            const router = useRouter()
            const response = await api.projects()

            /**
             * Table Data
             */
            const tableData: TableDataInterface = {
                withCheckboxes: false,
                headers: [ null, 'Start date', 'Recruited', 'Completed', null ],
                body: []
            }

            if (response.isOk()) {

                tableData.body.push(
                    ...response.value.map(project => {

                        return {
                            name: {
                                title: project.name,
                                subtitle: `${ project.seats } Participants`,
                                to: {
                                    name: Route.Project,
                                    params: { project: project.id }
                                }
                            },
                            startDate: project.createdAt,
                            recruited: `${ project.recruited } of ${ project.seats }`,
                            completed: `${ project.completed } of ${ project.seats }`,
                            action: {
                                project: project.id
                            }
                        }

                    })
                )

            }

            const tabs = computed(() => {

                return [
                    { title: `Projects (${ tableData.body.length })`, key: 'projects' }
                ]

            })

            return {
                Color,
                Direction,
                TypographyStyle,
                Size,
                tabs,
                tableData,
                viewProject(project: number) {
                    router.push({ name: Route.Project, params: { project } })
                }
            }
        }
    })

</script>
