<template>

    <div class="submission">

        <div class="flex h-screen">

            <div class="absolute pl-8 pt-8">
                <h3 class="text-primary">Overview</h3>
            </div>

            <VideoPlayer :data="data"/>

            <PropertiesPanel :tester="data.tester"/>

        </div>

    </div>

</template>

<script lang="ts">

    import { useRoute } from 'vue-router'
    import PropertiesPanel from '../components/PropertiesPanel.vue'
    import VideoPlayer from '../components/VideoPlayer.vue'
    import { useApi } from '../composition/UseApi'

    export default {
        name: 'Submission',
        components: {
            PropertiesPanel, VideoPlayer
        },
        async setup() {

            const route = useRoute()
            const api = useApi()

            const response = await api.fetchTaskData(route.params.project as string, route.params.tester as string)

            if (response.isOk()) {

                return {
                    data: response.value
                }

            }

            console.log('error...')

        }
    }

</script>
