<template>

    <SiteHeader/>

    <Container fluid class="bg-white pt-24">

        <Container class="pb-8">

            <PageTitle>

                Get Started

                <template #subtitle>
                    Submit your project details and our team will reach out within hours to provide a quotation. We
                    tailor
                    each project based on your requirements.
                </template>

            </PageTitle>

            <p class="mt-4 text-sm text-center text-gray-900 md:text-base">
                Prefer to speak in person? Drop us an e-mail at
                <span class="text-primary"><a href="mailto:onboard@recap.chat">onboard@recap.chat</a></span>
                and we can arrange a call.
            </p>

        </Container>

    </Container>

    <Container class="py-10">

        <Container fluid class="w-full m-auto md:w-10/12">

            <form v-if="!formSubmitted" class="flex flex-col md:flex-row">

                <div class="flex-1">

                    <div class="font-bold">Your details</div>

                    <div class="mt-8">

                        <Input :type="InputType.Text"
                               :validation="validation.name"
                               name="name"
                               placeholder="Name"/>

                        <Input :type="InputType.Email"
                               :validation="validation.email"
                               name="email"
                               placeholder="Email"/>

                        <Input :type="InputType.Text"
                               :validation="validation.jobTitle"
                               name="jobTitle"
                               placeholder="Job title"/>

                    </div>

                </div>

                <div class="flex-1 mt-10 md:ml-10 md:mt-0">

                    <div class="font-bold">Project details</div>

                    <div class="mt-8">

                        <Input :type="InputType.TextArea"
                               :validation="validation.projectDetail"
                               name="projectDetail"
                               help="Age, gender, income, education purchase habits etc."
                               placeholder="Recruitment criteria"/>

                        <NumberInput title="Participants"
                                     :values="participantValues"
                                     class="mt-5"
                                     help="Minimum 5 participants"
                                     @change="participantsChanged"/>

                        <NumberInput title="Length"
                                     :values="lengthValues"
                                     class="mt-5"
                                     help="Minimum 5 minutes"
                                     @change="lengthChanged"/>

                        <div class="flex justify-end mt-10">

                            <Button @click="submitForm" :loading="loading">Request a Quote</Button>

                        </div>

                    </div>

                </div>

            </form>

            <div v-else class="py-6 flex flex-col items-center text-center">

                <SuccessIcon/>

                <p class="w-11/12 sm:w-7/12 lg:w-1/3 mt-5 text-success">Message successfully sent. We will get back to you within a working day.</p>

            </div>

        </Container>

    </Container>

    <SiteFooter/>

</template>

<script lang="ts">

    import { defineComponent, ref } from 'vue'
    import Button from '../../components/Button.vue'
    import Container from '../../components/Container.vue'
    import Input from '../../components/form/Input.vue'
    import NumberInput from '../../components/NumberInput.vue'
    import SuccessIcon from '../../components/icons/SuccessIcon.vue'
    import PageTitle from '../../components/site/PageTitle.vue'
    import SiteFooter from '../../components/site/SiteFooter.vue'
    import SiteHeader from '../../components/site/SiteHeader.vue'
    import { useApi } from '../../composition/UseApi'
    import { useValidation } from '../../composition/UseValidation'
    import { email, required } from '../../composition/UseValidators'
    import { InputType } from '../../enums/InputType'
    import { Size } from '../../enums/Size'
    import { EnquiryInterface } from '../../interfaces/ProjectType'

    export default defineComponent({
        name: 'GetStarted',
        components: {
            Button, Container, SiteHeader, SiteFooter, PageTitle, Input, NumberInput, SuccessIcon
        },
        setup() {

            const loading = ref(false)
            const formSubmitted = ref(false)
            const { validation, validate, getData } = useValidation({
                name: [ required('Name field is required.') ],
                email: [ required('Email field is required.'), email('Email field should be a valid email.') ],
                jobTitle: [ required('Job title is required.') ],
                projectDetail: [ required('Recruitment criteria is required.') ]
            })

            function arrayRange(min: number, max: number): number[] {

                const values = []

                for (let value = min; value <= max; value++) {
                    values.push(value)
                }

                return values

            }

            const participants = ref(5)
            const projectLength = ref('5 mins')

            const api = useApi()

            return {
                validation,
                InputType,
                Size,
                loading,
                formSubmitted,
                participantValues: arrayRange(5, 100),
                lengthValues: [ '5 mins', '10 mins', '15 mins', '20 mins' ],
                participantsChanged(value: number) {

                    participants.value = value

                },
                lengthChanged(value: string) {

                    projectLength.value = value

                },
                async submitForm() {

                    if (!validate()) {

                        return

                    }

                    loading.value = true

                    const data = {
                        ...getData(),
                        'participants': participants.value.toString(),
                        'length': projectLength.value.split(' ')[ 0 ]
                    } as EnquiryInterface

                    const response = await api.enquiry(data as any)

                    if (response.isErr()) {

                        alert(response.error.message)

                    }

                    if (response.isOk()) {

                        formSubmitted.value = true

                    }

                    loading.value = false

                }
            }

        }
    })

</script>
