<template>

    <!-- <Notice/> -->

    <SiteHeader/>

    <Container fluid center class="bg-pink">

        <div class="flex flex-col md:flex-row overflow-hidden pt-32 md:pt-40">

            <div class="hidden md:block md:w-1/12"/>

            <div class="w-full md:w-4/12">

                <h1 class="text-4xl font-bold">
                    Connect with your Chinese customers quickly and easily
                </h1>

                <Paragraph class="w-full md:w-8/12 mt-8 md:mt-12">
                    Remote test your mobile prototypes, or run remote mobile ethnography in China. Our remote user testing platform allows you to easily connect with consumers in China .
                </Paragraph>

                <Button class="mt-10 shadow-pink" white :size="Size.Medium" @click="goToAppStore">
                    View on App Store →
                </Button>

            </div>

            <div class="w-1/12"/>

            <div class="w-6/12">

                <div class="flex justify-start md:hidden">

                    <div class="flex items-start about__banner-image">
                        <img src="../../assets/images/about/banner-phone.png" alt="banner">
                    </div>

                </div>

                <div class="items-start justify-start hidden md:flex">

                    <div class="relative px-3 pt-8 bg-white about__banner-phone-bg">

                        <video class="about__banner-screen"
                            poster="../../assets/images/about/screen-poster.png"
                            src="../../assets/videos/screen-recording.mp4"
                            muted
                            autoplay
                            loop/>

                    </div>

                    <div class="relative ml-12 mt-8 about__banner-camera">

                        <video poster="../../assets/images/about/face-poster.png"
                            src="../../assets/videos/face-cam.mp4"
                            muted
                            autoplay
                            loop/>

                    </div>

                </div>

            </div>

        </div>

    </Container>

    <Container fluid class="bg-white">

        <Container class="py-20 space-y-10 md:space-y-0 md:pt-40 md:pb-32 md:flex-row md:space-x-16">

            <div class="flex flex-col items-center text-center md:w-4/12"
                v-for="(item, index) of howItWorks"
                :key="index">

                <Header class="mb-6 font-bold">
                    {{ item.title }}
                </Header>

                <div class="shadow-smooth mt-6">
                    <img :src="item.image" :alt="item.title">
                </div>

                <Paragraph class="w-10/12 mt-12">
                    {{ item.description }}
                </Paragraph>

            </div>

        </Container>

    </Container>

    <Container fluid class="items-center py-20 bg-pale-blue">

        <Header class="font-bold text-center">
            Ready to get feedback from Chinese consumers?
        </Header>

        <Button class="shadow-blue mt-8 font-bold" @click="router.push(Route.GetStarted)">
            Talk with us
        </Button>

    </Container>

    <Container fluid class="bg-mint-green py-20 md:py-40">

        <Container>

            <div class="flex flex-col md:items-start md:flex-row md:space-x-24">

                <div class="md:w-6/12 shadow-smooth">

                    <img class="w-full" src="../../assets/images/about/ai-transcription.png" alt="ai-transcription">
                
                </div>

                <div class="md:px-6 my-8 sm:w-11/12 md:w-6/12 md:my-0">

                    <Header class="font-bold">
                        AI transcription of feedback with automated translations
                    </Header>

                    <Paragraph class="mt-5 leading-relaxed">
                        As videos are uploaded by your participants, our AI engine
                        transcribes the audio into Chinese text. Each section of text has a translation button to allow
                        you to automatically translate the Chinese texts into English, to allow you to understand and
                        analyze the results without even speaking Chinese.
                    </Paragraph>

                </div>

            </div>

            <div class="flex flex-col md:items-start md:flex-row md:mt-24 md:space-x-64">

                <div class="order-2 mt-8 md:px-6 sm:w-11/12 md:w-6/12 md:my-0 md:order-1">

                    <Header class="font-bold">
                        Verified Chinese users test using our mobile app
                    </Header>

                    <Paragraph class="mt-5 leading-relaxed">
                        All participants use the Recap.Chat mobile app to sign up, agree to
                        the privacy policy, conduct and upload the tests. Sign up requires a Chinese mobile number,
                        which is connected to users official Chinese ID as a means for verification and authentication.
                        Our app complies with GDPR and CSSL laws.
                    </Paragraph>

                </div>

                <div class="order-1 md:w-6/12 md:order-2 md:transform md:-translate-y-10">
                    <img class="w-full" src="../../assets/images/about/mobile-users.png" alt="mobile-users">
                </div>

            </div>

        </Container>

    </Container>

    <SiteFooter/>

    <!-- begin olark code -->
    <script type="text/javascript" async>
        ;(function(o,l,a,r,k,y){if(o.olark)return; r="script";y=l.createElement(r);r=l.getElementsByTagName(r)[0]; y.async=1;y.src="//"+a;r.parentNode.insertBefore(y,r); y=o.olark=function(){k.s.push(arguments);k.t.push(+new Date)}; y.extend=function(i,j){y("extend",i,j)}; y.identify=function(i){y("identify",k.i=i)}; y.configure=function(i,j){y("configure",i,j);k.c[i]=j}; k=y._={s:[],t:[+new Date],c:{},l:a}; })(window,document,"static.olark.com/jsclient/loader.js");
    /* custom configuration goes here (www.olark.com/documentation) */
    olark.identify('3610-681-10-9917');
    </script>
    <!-- end olark code -->

</template>

<script lang='ts'>

    import { defineComponent } from 'vue'
    import { useRouter } from 'vue-router'
    import Button from '../../components/Button.vue'
    import Container from '../../components/Container.vue'
    import Header from '../../components/Header.vue'
    import Notice from '../../components/site/Notice.vue'
    import Paragraph from '../../components/site/Paragraph.vue'
    import SiteFooter from '../../components/site/SiteFooter.vue'
    import SiteHeader from '../../components/site/SiteHeader.vue'
    import { Route } from '../../enums/Route'
    import { Size } from '../../enums/Size'

    export default defineComponent({
        name: 'About',
        components: {
            Container, Button, Header, SiteHeader, SiteFooter, Paragraph
        },
        setup() {

            const router = useRouter()

            return {
                router,
                Route,
                Size,
                goToAppStore: function() {
                    window.open('https://apps.apple.com/cn/app/recap-chat/id1517380688')
                },
                howItWorks: [
                    {
                        title: 'Recruit',
                        image: require('../../assets/images/about/recruit.png'),
                        description: 'Our recruitment team screens respondents in China based on your criteria. We find the ideal target consumers for your project.'
                    },
                    {
                        title: 'Create Tasks',
                        image: require('../../assets/images/about/tests.png'),
                        description: 'Video recording tasks using front & back cameras and  screen recording task with front camera recording with SEQ questions.'
                    },
                    {
                        title: 'Analyze',
                        image: require('../../assets/images/about/analyze.png'),
                        description: 'As users upload their tests they appear in the dashboard. We use AI to transcribe and translate the audio to help you analyze the results.'
                    }
                ]
            }

        }
    })

</script>

<style lang='scss'>

    @include component(about) {

        @include part(banner-image) {

            max-height: 280px;

            img {

                width: 350px;

            }

        }

        @include part(banner-phone-bg) {

            border-top-right-radius: em(30px);
            border-top-left-radius: em(30px);
            box-shadow: 0px 4px 80px #EBCEE1;

            width: 316px;
            height: 518px;

        }

        @include part(banner-screen) {

            width: 291px;
            background: white;
            position: absolute;
            left: 12px;
            top: 40px;

        }

        @include part(banner-camera) {

            width: 106px;
            height: 183px;

            video {

                border-radius: 15px;

            }

            $dot-size: em(15px);
            $border-width: em(10px);
            $offset: em(-10px);

            &:before, &:after {

                content: '';
                border-radius: $dot-size * 2;
                top: 0;
                right: 0;
                position: absolute;

            }

            &:before {

                right: $offset;
                top: $offset;

                height: #{$dot-size + $border-width};
                width: #{$dot-size + $border-width};

                @apply bg-pink;

            }

            &:after {

                right: $border-width / 2 + $offset;
                top: $border-width / 2 + $offset;
                height: $dot-size;
                width: $dot-size;

                opacity: 0;
                animation-name: flash;
                animation-duration: 1.25s;
                animation-iteration-count: infinite;
                animation-direction: normal;
                animation-fill-mode: forwards;
                animation-timing-function: steps(1, end);

                @apply bg-danger;

            }

        }

        @keyframes flash {

            0% {

                opacity: 1;

            }

            50% {

                opacity: 0.4;

            }

        }

        @include part(banner-content) {

            left: 150px;
            width: 270px;

        }

    }

</style>
