<template>

    <div class="mx-5 mt-2 mb-0 text-sm text-danger" :class="{ 'text-center': center }">
        <slot/>
    </div>

</template>

<script lang="ts">

    import { defineComponent } from 'vue'

    export default defineComponent({
        name: 'Error',
        props: {
            center: { type: Boolean, default: false }
        }
    })

</script>
