<template>

    <div class="input" :class="{ '--invalid': hasErrors }">

        <label class="input__label" :for="name" :class="[ `--${type}` ]">

            <textarea v-if="type === InputType.TextArea"
                      :id="name"
                      :type="fieldType"
                      v-model="value"
                      rows="5"
                      :class="{ '--active': value }"
                      :style="{ '--color': color }"/>

            <input v-else
                   :id="name"
                   :type="fieldType"
                   v-model="value"
                   :class="{ '--active': value }"
                   :style="{ '--color': color }"/>

            <template v-if="type !== InputType.Checkbox">

                <div class="input__placeholder">
                    {{ placeholder }}
                </div>

                <div class="input__icon" v-if="type === InputType.Password" @click="toggleVisibility">

                    <slot name="icon" :visibility="visible">
                        <EyeIcon :show="visible"/>
                    </slot>

                </div>

            </template>

        </label>

        <Error v-for="message of errorMessages" :key="message">
            {{ message }}
        </Error>

        <div v-if="help && !hasErrors" class="mx-5 my-2 text-xs text-gray-600">
            {{ help }}
        </div>

    </div>

</template>

<script lang="ts">

    import { defineComponent, PropType, ref, watch, watchEffect } from 'vue'
    import Error from './Error.vue'
    import EyeIcon from '../../components/icons/EyeIcon.vue'
    import { Rules } from '../../composition/rules/Rules'
    import { Color } from '../../enums/Color'
    import { InputType } from '../../enums/InputType'

    export default defineComponent({
        name: 'Button',
        components: { EyeIcon, Error },
        props: {
            default: { type: String, default: null },
            placeholder: { type: String, default: '' },
            name: { type: String, required: true },
            help: { type: String, default: null },
            type: { type: String as PropType<InputType>, default: InputType.Text },
            color: { type: String as PropType<Color>, default: Color.Primary },
            validation: { type: Object as PropType<Rules>, required: true }
        },
        setup(props, { emit }) {

            const fieldType = ref(props.type)
            const value = ref(props.default)

            watch(value, (value) => props.validation.update(value), { immediate: false })

            /**
             * Icon Toggle
             */
            const visible = ref(false)

            if (props.type === InputType.Password) {
                watchEffect(() => fieldType.value = visible.value ? InputType.Text : InputType.Password)
            }

            return {
                value,
                hasErrors: props.validation.hasErrors,
                errorMessages: props.validation.errorMessages,
                fieldType,
                InputType,
                visible,
                toggleVisibility() {
                    visible.value = !visible.value
                }
            }

        }
    })

</script>

<style lang="scss">

    @include component(input) {

        label {
            @apply relative flex flex-col w-full leading-none;
        }

        @include option(invalid) {

            input, textarea {

                @apply border-danger;

                box-shadow: inset 0 0 0 theme('spacing.2px') theme('colors.danger');

            }

        }

        & + #{component(input)}, + #{component(button)} {

            @apply mt-8;

        }

        @include option(checkbox) {

            @apply w-5 h-5;

        }

        input, textarea {

            @apply px-6 py-5 rounded-lg outline-none appearance-none resize-none;
            box-shadow: inset 0 0 0 theme('spacing.px') theme('colors.gray.500');

            &[type="checkbox"] {

                @apply w-5 h-5 p-0 m-0 rounded-sm cursor-pointer;

                &:focus, &#{option(active)} {

                    border-color: rgba(210, 213, 219, 0.9);

                }

                &:checked:after {

                    content: '✓';
                    @apply flex items-center justify-center w-full h-full text-xs text-primary;

                }

            }

            &:focus, &#{option(active)} {

                @apply bg-transparent outline-none;

                box-shadow: inset 0px 0px 0px theme('spacing.2px') theme('colors.primary');

                + div {

                    transform: translate(theme('spacing.4'), -50%) scale(.8);
                    @apply top-0 bg-body;

                }

            }

        }

        @include part(label) {

            @include option(textarea) {

                .input__placeholder {

                    top: theme('spacing.8');
                    color: #666666;

                }

                textarea {

                    &:focus, &#{option(active)} {

                        + div {

                            @apply top-0;

                        }

                    }

                }

            }

        }

        @include part(placeholder) {

            transform: translate(theme('spacing.3'), -50%);
            top: 50%;
            color: #666666;
            @apply absolute flex items-center justify-center px-3 py-1 text-sm duration-200 origin-left rounded-full pointer-events-none;

        }

        @include part(icon) {

            @apply absolute right-0 flex items-center justify-center w-16 h-full rounded-r-lg cursor-pointer;

            svg {

                @apply w-6 h-auto;

            }

        }

    }

</style>
