<template>

    <svg class="arrow-icon" width="8" height="16" viewBox="0 0 8 16" fill="none"
         :transform="`rotate(${degree})`"
         xmlns="http://www.w3.org/2000/svg">

        <path d="M7 1L1 8L7 15" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>

    </svg>

</template>

<script lang="ts">

    import { computed, defineComponent, PropType } from 'vue'
    import { Direction } from '../../enums/Direction'

    export default defineComponent({
        name: 'ArrowIcon',
        props: {
            direction: { type: String as PropType<Direction>, default: Direction.Left }
        },
        setup(props) {
            return {
                degree: computed(() => {

                    switch (props.direction) {
                        case Direction.Right:
                            return 180
                        case Direction.Up:
                            return 90
                        case Direction.Down:
                            return 270
                    }

                    return 0

                })
            }
        }
    })

</script>