<template>

    <svg v-if="show" width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" d="M23.5 7s-5.148 6.5-11.5 6.5S.5 7 .5 7 5.648.5 12 .5 23.5 7 23.5 7z" stroke="#000" stroke-linecap="round" stroke-linejoin="round"/>
        <path clip-rule="evenodd" d="M16 7a4 4 0 11-8 0 4 4 0 018 0z" stroke="#000" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

    <svg v-else width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0)" stroke="#000" stroke-linecap="round" stroke-linejoin="round">
            <path d="M19.518 7.288C21.957 9.052 23.5 11 23.5 11s-5.148 6.5-11.5 6.5c-1.04 0-2.045-.173-3.002-.464M4.468 14.701C2.037 12.941.5 11.001.5 11.001S5.649 4.5 12 4.5c.86 0 1.698.118 2.504.324M8 11a4 4 0 014-4M16 11a4 4 0 01-4 4M21.75 1.25l-19.5 19.5"/>
        </g>
        <defs>
            <clipPath id="clip0">
                <path fill="#fff" d="M0 0h24v22H0z"/>
            </clipPath>
        </defs>
    </svg>

</template>

<script lang="ts">

    import { defineComponent } from 'vue'

    export default defineComponent({
        name: 'Eye',
        props: {
            show: { type: Boolean, default: true }
        }
    })

</script>