<template>

    <svg width="14" height="8" viewBox="0 0 14 7" fill="none"
         :transform="`rotate(${degree})`"
         xmlns="http://www.w3.org/2000/svg">

        <path d="M7 0l6.928 7.5H.072L7 0z" :fill="disabled ? '#CECECE' : '#4378FF'"/>

    </svg>

</template>

<script lang="ts">

    import { computed, defineComponent, PropType } from 'vue'
    import { Direction } from '../../enums/Direction'

    export default defineComponent({
        name: 'FilledArrowIcon',
        props: {
            direction: { type: String as PropType<Direction>, default: Direction.Up },
            disabled: { type: Boolean, default: false }
        },
        setup(props) {
            return {
                degree: computed(() => {

                    switch (props.direction) {
                        case Direction.Right:
                            return 90
                        case Direction.Left:
                            return 270
                        case Direction.Down:
                            return 180
                    }

                    return 0

                })
            }
        }
    })

</script>
