<template>

    <svg v-if="open" width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="2" rx="1" fill="black"/>
        <rect y="9" width="24" height="2" rx="1" fill="black"/>
        <rect y="18" width="24" height="2" rx="1" fill="black"/>
    </svg>

    <svg v-else width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.807617" y="17.7782" width="24" height="2" rx="1" transform="rotate(-45 0.807617 17.7782)" fill="black"/>
        <rect x="17.7781" y="19.1924" width="24" height="2" rx="1" transform="rotate(-135 17.7781 19.1924)" fill="black"/>
    </svg>

</template>

<script lang="ts">

    import { defineComponent } from 'vue'

    export default defineComponent({
        name: 'Hamburger',
        props: {
            open: { type: Boolean, default: true }
        }
    })

</script>
