<template>

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="21" height="19" viewBox="0 0 21 19" xml:space="preserve">
        <path v-if="!paused" fill="currentColor" d="M16.5 9.5c0 .9-10.6 7.5-11.4 7-.8-.5-.8-13.5 0-14 .9-.5 11.4 6.1 11.4 7z" fill-rule="evenodd" clip-rule="evenodd"/>
        <path v-else fill="currentColor" d="M5.5 2.5h1c.6 0 1 .4 1 1v12c0 .6-.4 1-1 1h-1c-.6 0-1-.4-1-1v-12c0-.6.4-1 1-1zM14.5 2.5h1c.6 0 1 .4 1 1v12c0 .6-.4 1-1 1h-1c-.6 0-1-.4-1-1v-12c0-.6.4-1 1-1z"/>
    </svg>

</template>

<script lang="ts">

    import { defineComponent } from 'vue'

    export default defineComponent({
        name: 'PlayIcon',
        props: {
            paused: { type: Boolean, default: false }
        }
    })

</script>
