<template>

    <div class="flex justify-center items-center h-10 w-10 rounded-full bg-success">

        <svg width="23" height="17" viewBox="0 0 23 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 8.74078L8.2963 15.0371L20.8889 2.44449" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>

    </div>

</template>
