<template>

    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="21" height="19" viewBox="0 0 21 19" xml:space="preserve">
        <g v-if="!muted">
            <path fill="currentColor" d="M16.2 13.9c-.2 0-.3-.1-.4-.2-.2-.2-.1-.5.1-.7 1.4-1 2.2-2.6 2.2-4.3s-.8-3.3-2.2-4.3c-.2-.2-.3-.5-.1-.7.2-.2.5-.3.7-.1 1.7 1.2 2.6 3.1 2.6 5.1s-1 3.9-2.6 5.1c-.1.1-.2.1-.3.1z"/>
            <path fill="currentColor" d="M14.6 12c-.2 0-.3-.1-.4-.2-.2-.2-.1-.5.1-.7.9-.6 1.4-1.5 1.4-2.3 0-.9-.5-1.7-1.4-2.3-.2-.2-.3-.5-.1-.7.2-.2.5-.3.7-.1 1.2.8 1.9 1.9 1.9 3.1 0 1.2-.7 2.3-1.9 3.1-.1.1-.2.1-.3.1zM12.6 15.9c-2.8 0-5.4-1.5-6.6-3.9H4.4c-.7 0-1.3-.3-1.8-.7-.5-.5-.8-1.1-.8-1.7V8c0-1.3 1.1-2.4 2.5-2.4h1.5c1.3-2.4 3.8-3.9 6.6-3.9.5 0 .9.4.9.9V15c.2.5-.2.9-.7.9z"/>
        </g>
        <path v-else fill="currentColor" d="M4.3 12l.7-.7 1.8-1.8 2.3-2.3L11.3 5l1.9-1.9c.2-.2.2-.3.2-.5 0-.5-.4-.9-.9-.9-2.8 0-5.4 1.5-6.6 3.9H4.4C3 5.6 1.8 6.7 1.8 8v1.6c0 .6.3 1.3.8 1.7.2.2.5.4.8.5.1.1.3.1.5.1.1.1.3.1.4.1zM18.9.2c-.3-.3-.8-.3-1.1 0L.2 17.7c-.2.3-.2.8 0 1.1.2.1.4.2.6.2.2 0 .4-.1.5-.2l5.5-5.5c1.4 1.6 3.5 2.6 5.7 2.6.5 0 .9-.4.9-.9V6.7l5.4-5.4c.4-.3.4-.8.1-1.1z"/>
    </svg>

</template>

<script lang="ts">

    import { defineComponent } from 'vue'

    export default defineComponent({
        name: 'VolumeIcon',
        props: {
            muted: { type: Boolean, default: false }
        }
    })

</script>