<template>

    <Suspense>

        <template #default>

            <router-view/>

        </template>

        <template #fallback>Loading...</template>

    </Suspense>

</template>

<script lang="ts">

    import { defineComponent } from 'vue'
    import { useRouter } from 'vue-router'
    import { useApi } from './composition/UseApi'
    import { Route } from './enums/Route'
    import { useGlobalState } from './composition/UseGlobalState'

    export default defineComponent({
        name: 'App',
        setup() {

            const api = useApi()
            const router = useRouter()
            const { appState } = useGlobalState()

            const siteRoutes = [ Route.Home, Route.GetStarted ]

            /**
             * Automatically redirect to login page if missing authentication
             */
            router.beforeEach((to, from, next) => {

                if (siteRoutes.includes(to.name as Route)) {

                    return next()

                }

                if (api.needsAuthentication() && to.name !== Route.Login) {

                    return next({ name: Route.Login })

                }

                /**
                 * If user is already authenticate and tries to open the login page again..
                 */
                if (appState.isAuthenticated && to.name === Route.Login) {

                    return next({ name: Route.Projects })

                }

                next()

            })

        }
    })

</script>

<style lang="scss">

    body {

        @apply bg-body;

    }

</style>
